**OPERATOR**

Operator simbol simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal. Tipe tipe operator:

1. Operator Aritmatika
2. Operator Assignment
3. Operator Pembanding
4. Operator Logika
5. Operator Membership

1. Operator Aritmatika

Operator Aritmatika digunakan untuk melkaukan operasi matematika yang umum.

Macam macam Operator Aritmatika, yaitu:

+: Penjumlahan

-: Pengurangan

*: Perkalian

/: Pembagian

% : Modulus

** : Perpangkatan

// : Pembagian dengan hasil pembulatan flooring

In [ ]:
#Penjumlahan
print('Penjumlahan')
print(2+2)

Penjumlahan
4

In [ ]:
#Pengurangan
print('Pengurangan')
print('-'*20)
print(2-3)

Pengurangan
--------------------
-1

In [ ]:
#Perkalian
print('Perkalian')
print('-'*20)
print(2*3)

Perkalian
--------------------
6

In [ ]:
#Pembagian
print('Pembagian')
print('-'*20)
print(2/3)

Pembagian
--------------------
0.6666666666666666

In [ ]:
#Modulus
print('Modulus')
print('-'*20)
print(3%2)

Modulus
--------------------
1

In [ ]:
#Perpangkatan
print('Perpangkatan')
print('-'*20)
print(2**3)

Perpangkatan
--------------------
8

In [ ]:
#Pembagian dengan hasil pembulatan flooring
print('Pembagian pembulatan flooring')
print('-'*20)
print(3//2)

Pembagian pembulatan flooring
--------------------
1

2. Operator Assignment

Operator Assignment digunakan untuk menyimpan nilai menjadi suatu variabel

= : Contohnya x = 5 -> x = 5

+= : Contohnya x = x + 5 -> x + 5

-= : Contohnya x = x -5 -> x = 5

*= : Contohnya x x 5 -> x = 5

/= : Contohnya x = x / 5 -> x = 5

%= : Contohnya x = x % 5 -> x %= 5

//= : Contohnya x = x // 5 -> x // = 5

*= : Contohnya x = x * 5 -> x **= 5

In [ ]:
#penjumlahan
print('penjumlahan')
x=5
x=x+5
print(x)
x=5
x=x+5
print(x)
print('-'*20)

penjumlahan
10
10
--------------------

In [ ]:
#pengurangan
print('pengurangan')
x=5
x=x-5
print(x)
x=5
x-=5
print(x)
print('-'*20)

pengurangan
0
0
--------------------

In [ ]:
#perkalian
print('perkalian')
x=5
x=x*5
print(x)
x=5
x*=3
print(x)
print('-'*20)

perkalian
25
15
--------------------

In [ ]:
#pembagian
print('pembagian')
x=5
x=x/5
print(x)
x=5
x/=3
print(x)
print('-'*20)

pembagian
1.0
1.6666666666666667
--------------------

In [ ]:
#modulus
print('modulus')
x=5
x=x%5
print(x)
x=5
x%=3
print(x)
print('-'*20)

modulus
0
2
--------------------

In [ ]:
#pembagian flooring
print('pembagian flooring')
x=5
x=x//5
print(x)
x=5
x//=3
print(x)
print('-'*20)

pembagian flooring
1
1
--------------------

In [ ]:
#Perpangkatan
print('Perpangkatan')
x=5
x=x**5
print(x)
x=5
x**=3
print (x)
print('-'*20)

Perpangkatan
3125
125
--------------------

3. Operator Pembanding

Operator Pembanding digunakan untuk membandingkan 2 nilai atau variabel

Macam macam Operator pembanding:

== -> samadengan

!= -> tidak sama dengan

> -> lebih dari

< -> kurang dari

>= -> lebih dari dan samadengan

<=  -> kurang dari dan samadengan

In [ ]:
print(2==2)
print(2!=2)
print(2>2)
print(2<2)
print(2>=2)
print(2<=2)

True
False
False
False
True
True

4. Operator Logika

Operator logika digunakan untuk mengkombinasikan statement statement kondisional

Macam macam opertaor logika:

and -> kondisi menjadi benar apabila semua statementnya benar

or -> kondisi menjadi benar apabila salah satu statementnya ada yang benar

not -> membalik hasil adri benar ke salah dan salah ke benar

In [ ]:
print(True and False)
print(False or False)
print(not False and True)

False
False
True

5. Operator Membership/Keanggotaan

Operator keanggotaan digunakan untuk menguji apakah urutan disajikan dalam suatu objek

Macam macam operator Keanggotaan:

in -> return True ketika nilai tertentu dalam sebuah urutan ada

not in -> return True ketika nilai tertentu dalam sebuah uruta tidak ada

In [ ]:
a=(1,2,3,4,5,6)
b=2
print(b in a)
print("-"*20)
a=(1,2,3,4,5,6)
b=7
print(b not in a)

True
--------------------
True

**VARIABEL**

Variabel: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi.

Syarat syarat penamaan variabel

1. Karakter - karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.

2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka

3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya

4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel
kalimat = 'ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# menampilkan variabel
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

TIPE DATA & KONVERSI TIPE DATA

Tipe Data

Tipe Data

5 tipe data yaitu

1. Integr atau bilangan bulat
2. Float atau bilangan desimal
3. string atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type (bilangan1))
print(type(bilangan2))
print(type (bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

Konversi Tipe Data

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

2
1

In [ ]:
#konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

4.0
1.0

In [ ]:
# konversi tipe data string
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

4
2.5
True

In [ ]:
# konversi tipe data bool
print(bool (bilangan1))
print(bool (bilangan2))

True
True

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex (bilangan2))
print(complex (bilangan3))

(4+0j)
(2.5+0j)
(1+0j)